<div class="center-stuff">
<div>
<span class=" base-button blue-button">Click me!</span>
</div>

<div>
<span class="grey-button">Click me!</span>
</div>

<div>
<span class="green-button">Click me!</span>
</div>

<div>
<span class="yellow-button">Click me!</span>
</div>

<div>
<span class="teal-button">Click me!</span>
</div>

</div>
